@import "../base/vars";

.testimonial_section {
    background-image: url("../assets/img/testimonial_bckg_img.jpg");
    min-height: 731px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 128px;
    box-sizing: border-box;

    .testimonial_heading {
        font-family: "Aleo", Arial, Helvetica, sans-serif;
        font-size: 36px;
        line-height: 0.7;
        margin-bottom: 91px;
    }

    .testimonial_container {
        display: flex;
        justify-content: center;
        align-items: center;

        .testimonial_text_container {
            width: 100%;
            max-width: 668px;
            background-color: #333333;
            box-sizing: border-box;
            padding: 54px 25px 44px 62px;

            .testimonial_text_title {
                font-size: 20px;
                line-height: 1.3;
                color: #FEFEFE;
                text-transform: uppercase;
                margin-bottom: 8px;
            }

            .testimonial_text_paragraph {
                color: #E8E8E8;
                font-size: 16px;
                line-height: 1.6;
            }
        }
    }
}